<% include ../partials/header %>

        <!-- SECOND NAVBAR -->
        <div class='second-nav'>
            <div class='second-nav-responsive'>
                <div class='second-nav-container'>
                    <div class='second-nav-items-container'>
                        <div class='second-nav-view-container'>
                            <div class='second-nav-items-title'>View</div>
                            <div class='second-nav-view-displays'>
                                <button>
                                    <i class="fas fa-minus second-nav-view-displays-options-active"></i>
                                </button>
                                <button>
                                    <i class="fas fa-bars second-nav-view-displays-options"></i>
                                </button>
                                <button>
                                    <i class="fas fa-align-justify second-nav-view-displays-options"></i>
                                </button>
                            </div>
                        </div>
                        <div class='second-nav-sort-container'>
                            <div class='second-nav-items-title'>Sort</div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class='default_list' style='display: inline-block;'><i class='fas fa-splotch dropdown-item-icon'></i>BEST</span>
                                </a>
                                <div class="dropdown-menu sort-dropdown-list" aria-labelledby="dropdown08">
                                    <a class="dropdown-item sort-dropdown-item" href="#"><i class="fas fa-splotch"></i>Best</a>
                                    
                                    <a class="dropdown-item sort-dropdown-item filter_hot" href="#"><i class="fas fa-fire"></i>Hot</a>

                                    <a class="dropdown-item sort-dropdown-item filter_new" href="#"><i class="fas fa-paper-plane"></i>New</a>
    
                                    <a class="dropdown-item sort-dropdown-item filter_controversial" href="#"><i class="fas fa-exclamation-circle"></i>Controversial</a>
    
                                    <a class="dropdown-item sort-dropdown-item filter_top" href="#"><i class="fas fa-level-up-alt"></i>Top</a>
    
                                    <a class="dropdown-item sort-dropdown-item filter_rising" href="#"><i class="fas fa-signal"></i>Rising</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- REDDIT PAGE CONTENT -->
        <div class="reddit_container" style="max-width: 100%;">
            <div class="post_container">
                <div class="post_list">
                    <% redditPosts.forEach((post) => { %>
                        <div class="post">
                            <!-- POST SHOULDER -->
                            <div class="post_shoulder" style="width: 40px; border-left: 4px solid transparent;">
                                <div class="post_shoulder_content">
                                    <button class="upvote">
                                        <i class="fas fa-arrow-up"></i>
                                    </button>
                                    <div class="post_votes" style="display: block; color: rgb(26, 26, 27);">
                                        <%= post.votes %>                 
                                    </div>
                                    <button class="downvote">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- POST CONTENT -->
                            <div class="post_content_container">
                                <article class="post_content">
                                    <div class="post_content_text">
                                        <div class="post_content_header">
                                            <!-- CODE FOR THE SUBREDDIT ICON IN THE REDDIT POST HEADER-->
                                            <div style="flex: 0 0 auto;">
                                                <a class="post_content_header_icon">
                                                    <img class="subreddit_icon">
                                                </a>   
                                            </div>
    
                                            <!-- CODE FOR THE HEADER CONTAINING SUBREDDIT NAME POSTED BY USER -->
                                            <div style="flex: 1 1 auto">
                                                <div class="post_content_header_text">
                                                    <div style="display: inline-block; flex: 0 0 auto">
                                                        <a class="subreddit_name" style="color: rgb(28, 28, 28);">
                                                            <%= post.subredditName %>
                                                        </a>
                                                    </div>
                                                    <span class="post_divider">•</span>
                                                    <span class="posted_by">Posted by</span>
                                                    <div style="display: inline-block">
                                                        <a class="post_author">
                                                            <%= post.author %>
                                                        </a>
                                                    </div>
                                                    <a class="posted_date">
                                                        <%= post.timeSincePosting %>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <!-- CODE FOR THE POST TITLE -->
                                        <div style="margin: 0px 8px; display: block;">
                                            <span class="post_content_title_container">
                                                <a href="/reddit-posts/<%= post._id %>" class="post_title_url">
                                                    <h2 class="post_title">
                                                        <%= post.title %>
                                                    </h2>
                                                </a>
                                            </span>
                                        </div>
                                            
                                        <!-- CODE FOR THE POST MEDIA(IMAGES, VIDEO) URL-->
                                        <div style="display: flex; margin-top: 0px;">
                                            <a href='${media_url}' class="post_media_url">
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                    
                                    <div class="post_content_media">
                                        <!-- CODE FOR THE 'JOIN' BUTTON -->
                                        <button class="post_content_join">
                                            <i class="fas fa-plus"></i>
                                            Join
                                        </button>
                                        <!-- CODE FOR THE MEDIA -->
                                        <div class="media_container">
                                            <a href='#'>
                                                <div class="media_preview">
                                                    <div class="media_click_icon">
                                                        <i class="fas fa-external-link-alt" style="color: white"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>

                                <!-- POST BUTTONS -->
                                <div class='post_content_buttons_container'>
                                    <div class='post_content_buttons'>
                                        <a class='comment_button'>
                                            <i class='fas fa-comment-alt'></i>
                                            <span class='post_comments'>
                                                <%= post.commentCount %> Comments
                                            </span>
                                        </a>
                                        <div class='share_button_container'>
                                            <button class='share_button'>
                                                <i class='fas fa-share'></i>
                                                <span style='display: inline-block; line-height: 1; vertical-align: middle;'>share</span>
                                            </button>
                                        </div>
                                        <button class='save_button'>
                                            <i class='fas fa-bookmark'></i>
                                            <span>save</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <!--
                <div class="post_list">
                    <div class="post"></div>
                </div> --> <!-- End of "post_list" -->
            </div> <!-- End of "post_container" -->   
            
            <% include ../partials/sidebar %>  
        </div>  
            
    
<% include ../partials/footer %>