<% include ../partials/header %>

<h1>This is the show template</h1>
<h3><%= post.title %></h3>

<button>
    <a href="/reddit-posts/<%= post._id %>/comments/new">
        Add new comment
    </a>
</button>

<div class="reddit_container">
    <div class="post_container">
        <div class="post_list">
            <% post.comments.forEach((comment) => { %>
                <div class="post">
                    <!-- POST SHOULDER -->
                    <div class="post_shoulder" style="width: 40px; border-left: 4px solid transparent;">
                        <div class="post_shoulder_content">
                            <button class="upvote">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                            <div class="post_votes" style="display: block; color: rgb(26, 26, 27);">
                                                    
                            </div>
                            <button class="downvote">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </div>
                    </div>

                    <!-- COMMENT CONTENT -->
                    <div class="post_content_container">
                        <article class="post_content">
                            <div class="post_content_text">
                                <div class="post_content_header">
                                    <!-- CODE FOR THE HEADER CONTAINING SUBREDDIT NAME POSTED BY USER -->
                                    <div style="flex: 1 1 auto">
                                        <div class="post_content_header_text">
                                            <div style="display: inline-block; flex: 0 0 auto">
                                                <a class="subreddit_name" style="color: rgb(28, 28, 28); padding-right: 2px;">
                                                    <%= comment.author %> 
                                                </a>
                                            </div>
                                            
                                            <div style="display: inline-block">
                                                (X) points
                                            </div>
                                            <span class="post_divider">•</span>
                                            <a class="posted_date">
                                                <%= post.timeSincePosting %>
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- End of 'post_content_header' -->
                                
                                <!-- CODE FOR THE POST TITLE -->
                                <div style="margin: 0px 8px; display: block;">
                                    <span class="post_content_title_container">
                                        <p> <%= comment.text %> </p>
                                    </span>
                                </div>
                            </div> <!-- End of 'post_content_text' -->
                        </article>
                    </div>

                    <!-- POST BUTTONS -->
                    <div class='post_content_buttons_container'>
                        <div class='post_content_buttons'>
                            <a href="/reddit-posts/<%= post._id %>" style="text-decoration: none; color: inherit;" class='comment_button'>
                                <i class='fas fa-comment-alt'></i>
                                <span class='post_comments'>
                                    Reply
                                </span>
                            </a>
                            <div class='share_button_container'>
                                <button class='share_button'>
                                    <i class='fas fa-share'></i>
                                    <span style='display: inline-block; line-height: 1; vertical-align: middle;'>share</span>
                                </button>
                            </div>
                            <button class='save_button'>
                                <i class='fas fa-bookmark'></i>
                                <span>save</span>
                            </button>
                        </div>
                    </div>
                </div> <!-- End of 'post' -->
            <% }) %>
        </div> <!-- End of 'post_list' -->
    </div> <!-- End of 'post_container' -->
</div> <!-- End of 'reddit_container' -->

<% include ../partials/footer %>